<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
</head>
<body>
    <main>
        <section>
            <div>
                <div>
                    <img>
                    <h1>User</h1>
                    <p>profession</p>
                    <img src="../static/images/telephone.png">
                    <img src="../static/images/email.png">
                </div>
                <div>
                    <p>Nome</p>
                    <!--Aqui vai um input-->
                    <hr>
                    <p>Email</p>
                    <!--Aqui vai um input-->
                    <hr>
                    <p>Telefone</p>
                    <!--Aqui vai um input-->
                </div>
            </div>
        </section>
    </main>
</body>
</html>