{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/apresentacao.css'%}">
    <title>Pagina inicial</title>
</head>
<body>
    <main>
        <section>
            <h1>Your online Visit Card</h1>
            <p>Os cartões de visita-do inglês, "Visit Card",
                 são cartões com informações comerciais sobre uma empresa ou indivíduo.
                 Cadstre-se para obter o seu pessoal
                </p>
            <button><a href="./login.html">Cadastre-se</a></button></section>
    </main>
    
</body>
</html>