{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '../static/apresentacao.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet" />  
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet"/>
    <title>Pagina inicial</title>
    <style>
      .register_ancora{
        font-size:20pt;
        font-weight:bolder;
        color:rgb(0, 128, 0);
      }
      .register{
        color:rgb(0, 128, 0);
      }
    </style>
  </head>
  <body>
    <main>
      <section class="content">
        <h1 class="principal-title">Your online Visit Card</h1>
        <p class="explanation">
          {% if request.user.is_authenticated == False %}
          Os cartões de visita -do inglês, "Visit Card"- são cartões com
          informações comerciais sobre uma empresa ou indivíduo. Cadastre-se
          para obter o seu cartão pessoal, ou caso já possua uma conta faça login.
        </p>
        {% else %}
        <p class="explanation">
          Os cartões de visita -do inglês, "Visit Card"- são cartões com
          informações comerciais sobre uma empresa ou indivíduo. Gere já o seu, basta clicar no botão abaixo.
        </p>
        {% endif %}
        <div class="div_button">
        {% if request.user.is_authenticated == False %}
        <button class="register"><a href="{% url 'user.login' %}" class="register_ancora">login</a></button>
        <button class="register"><a href="{% url 'user.register' %}" class="register_ancora">Cadastre-se</a></button>
        {% else %}
        <button class="register"><a href="{% url 'receber.dados' %}" class="register_ancora">Gerar Cartão</a></button>
        {% endif %}
      </div>
      </section>
    </main>
  </body>
</html>